.header {
  position: relative;
  display: flex;
  align-content: center;
  padding: 2rem 0 1rem 0;
  &__logo {
    font-size: 5rem;
    font-family: "Protest Revolution", sans-serif;
    margin-right: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    img {
      height: 5rem;
      margin-right: 1rem;
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  &__icon {
    cursor: pointer;
    .header__link {
      height: 3rem;
      width: 3rem;
    }
    &:hover > .header__link {
      color: #ec6670;
    }
  }
}
