.recipe {
  position: relative;
  min-height: 100vh;

  &__title {
    margin-top: 5rem;
  }
  &__overview {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5rem;
    margin-top: 2.8rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--color-black);
  }
  &__detail {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--color-blue-dark);
  }
  &__detail-data {
    margin-left: 1.2rem;
    margin-right: 0.3rem;
    font-weight: 600;
  }
  &__detail-icon {
    height: 3rem;
    width: 3rem;
  }
  &__detail-buttons {
    display: flex;
    align-items: center;
    margin-left: 1.2rem;
  }
  &__detail-btn {
    border: none;
    color: var(--color-blue-dark);
    background-color: transparent;
    transition: all 0.2s;

    cursor: pointer;
    &:hover {
      color: var(--color-red);
      transform: translateY(-0.2rem);
    }
    &:active {
      transform: scale(0.8);
    }
  }
  &__bookmark-icon {
    margin-left: auto;
    border-radius: 50%;
    background: rgb(69, 123, 157);
    background: radial-gradient(
      circle,
      var(--color-blue-light) 4%,
      var(--color-blue) 93%
    );
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 3px 4px 20px -7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 4px 20px -7px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 4px 20px -7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__image {
    margin-top: 3rem;
    img {
      width: 100%;
      height: 40rem;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}
.ingredients {
  margin-bottom: 8rem;
  &__heading {
    margin-top: 3.8rem;
  }
  &__list {
    // list-style-position: inside;
    // list-style-image: url(/img/circle-svgrepo-com.svg);
    list-style-type: none;
    align-self: stretch;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.8rem;
  }
  &__item {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    &::before {
      content: url("/img/circle-svgrepo-com.svg");
      height: 3rem;
      width: 3rem;
      cursor: pointer;
    }

    &--checked {
      &::before {
        content: url("/img/circle-tick-svgrepo-com.svg");
        color: var(--color-red);
      }
      color: var(--color-grey);
      text-decoration: line-through;
    }
  }
}
.instructions {
  &__text {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: var(--color-blue-dark);
  }
  &__pub {
    display: inline-block;
    padding: 0.2rem 0.8rem;
    background: rgb(69, 123, 157);
    background: radial-gradient(
      circle,
      var(--color-blue-light) 4%,
      var(--color-blue) 93%
    );
    border-radius: 16px;
  }
}
