.subscribe-section {
  padding: 10rem;
  background-color: var(--bg-color-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  &__heading {
    width: 40%;
    text-align: center;
  }
  &__heading-sub {
    width: 40%;
    text-align: center;
  }
  &__form {
    margin-top: 2rem;
    width: 40%;
    display: flex;
    background-color: var(--color-blue-light);
    padding: 0.2rem;
  }
  &__input {
    border: none;
    height: 6rem;
    flex: 2;
    width: 100%;
    padding: 1rem 3rem;
    font-size: 2.2rem;
    outline: none;
    color: var(--color-black);
    background-color: var(--color-blue-light);
  }
  &__btn {
    height: 6rem;
    width: 12rem;
    border: none;
    background-color: var(--color-red);
    color: var(--color-blue-light);
    font-size: 1.8rem;
    letter-spacing: 1.8px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: var(--color-red-light);
      color: var(--color-black);
    }
  }
}

@media ((max-width: 1200px)) {
  .subscribe-section__heading {
    width: 68%;
  }
  .subscribe-section__heading-sub {
    width: 68%;
  }
}
@media ((max-width: 992px)) {
  .subscribe-section__form {
    width: 90%;
  }
}
