.pagination {
  margin-top: auto;
  margin-bottom: 3rem;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: var(--color-blue);
  color: var(--color-black);
}

.pagination a:hover:not(.active) {
  background-color: var(--color-red-light);
}
