*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px
}
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-blue-light);
  position: relative;
}
.no-scroll {
  overflow: hidden;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-black);
}

@media ((max-width: 992px)) {
  html {
    font-size: 55%;
  }
}
