*, :before, :after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-blue-light);
  font-family: Open Sans, sans-serif;
  position: relative;
}

.no-scroll {
  overflow: hidden;
}

a, a:link, a:visited, a:active {
  color: var(--color-black);
  text-decoration: none;
}

@media (width <= 992px) {
  html {
    font-size: 55%;
  }
}

.header {
  align-content: center;
  padding: 2rem 0 1rem;
  display: flex;
  position: relative;
}

.header__logo {
  flex-grow: 1;
  align-items: center;
  margin-right: auto;
  font-family: Protest Revolution, sans-serif;
  font-size: 5rem;
  display: flex;
}

.header__logo img {
  height: 5rem;
  margin-right: 1rem;
}

.header__icons {
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  display: flex;
}

.header__icon {
  cursor: pointer;
}

.header__icon .header__link {
  width: 3rem;
  height: 3rem;
}

.header__icon:hover > .header__link {
  color: var(--color-red);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

@media (width >= 576px) {
  .container {
    max-width: 540px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 720px;
  }
}

@media (width >= 992px) {
  .container {
    max-width: 960px;
  }
}

@media (width >= 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (width >= 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (width >= 1200px) {
  .container {
    max-width: 1140px;
  }
}

.hero {
  border-radius: 16px;
  width: 100%;
  margin-top: 3.8rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero__img {
  opacity: .7;
  width: 100%;
  height: 80rem;
}

.hero__text {
  background: var(--color-blue);
  background: linear-gradient(60deg, var(--color-blue) 0%, var(--color-blue-light) 45%, transparent 100%);
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 4rem;
  display: flex;
  position: absolute;
}

.hero__heading {
  color: var(--color-black);
  width: 48%;
}

.hero__description {
  color: var(--color-black);
  width: 48%;
  margin-top: 1.8rem;
  font-size: 1.8rem;
}

.hero__icon {
  background-color: var(--color-blue-light);
  color: var(--color-red);
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.2rem;
  transition: all .2s;
  display: flex;
  position: absolute;
  bottom: 3.5rem;
  right: 3.5rem;
}

.hero__icon:hover {
  background-color: var(--color-red);
}

.hero__icon:hover svg {
  color: var(--color-blue-light);
}

.hero__icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.hero__stars {
  justify-content: space-between;
  width: 10rem;
  margin-top: 2rem;
  display: flex;
}

.hero__stars svg {
  color: var(--color-ratings);
  width: 1.8rem;
  height: 1.8rem;
}

@media (width <= 768px) {
  .hero__heading, .hero__description {
    width: 100%;
  }
}

@media (width <= 992px) {
  .hero {
    max-height: 45rem;
  }

  .hero__heading, .hero__description {
    width: 80%;
  }
}

@media screen and (width >= 1200px) {
  .hero {
    height: 50rem;
  }
}

.categories {
  flex-direction: column;
  margin-bottom: 10rem;
  display: flex;
}

.categories__container {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.categories__item {
  color: var(--color-black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.categories__img {
  height: 30rem;
  transition: all 1.2s;
}

.categories__name {
  margin-top: -5rem;
  font-size: 2rem;
  font-weight: 600;
  transition: all .6s;
}

.categories__img-container {
  background-color: var(--color-blue);
  clip-path: circle(30%);
}

.categories__img-container:hover img {
  transform: scale(1.5);
}

.categories__img-container:hover + span {
  color: var(--color-red);
}

.categories__img-container img {
  opacity: .7;
}

@media (width <= 992px) {
  .categories__container {
    flex-wrap: wrap;
  }
}

@media (width >= 992px) {
  .hero {
    flex-direction: row;
    height: 45rem;
  }
}

@media (width >= 992px) and (width <= 1200px) {
  .categories__img {
    height: 20rem;
  }
}

.subscribe-section {
  background-color: var(--bg-color-pink);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10rem;
  display: flex;
}

.subscribe-section__heading, .subscribe-section__heading-sub {
  text-align: center;
  width: 40%;
}

.subscribe-section__form {
  background-color: var(--color-blue-light);
  width: 40%;
  margin-top: 2rem;
  padding: .2rem;
  display: flex;
}

.subscribe-section__input {
  color: var(--color-black);
  background-color: var(--color-blue-light);
  border: none;
  outline: none;
  flex: 2;
  width: 100%;
  height: 6rem;
  padding: 1rem 3rem;
  font-size: 2.2rem;
}

.subscribe-section__btn {
  background-color: var(--color-red);
  color: var(--color-blue-light);
  letter-spacing: 1.8px;
  cursor: pointer;
  border: none;
  width: 12rem;
  height: 6rem;
  font-size: 1.8rem;
  transition: all .2s;
}

.subscribe-section__btn:hover {
  background-color: var(--color-red-light);
  color: var(--color-black);
}

@media (width <= 1200px) {
  .subscribe-section__heading, .subscribe-section__heading-sub {
    width: 68%;
  }
}

@media (width <= 992px) {
  .subscribe-section__form {
    width: 90%;
  }
}

.footer {
  color: var(--color-black);
  background-color: var(--color-blue-light);
  flex-flow: wrap;
  padding: 5rem 3rem;
  display: flex;
}

.footer > * {
  flex: 100%;
}

.footer__addr {
  margin-bottom: 2em;
  margin-right: 1.25em;
}

.footer__logo {
  font-family: Protest Revolution, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 1.8rem;
  font-weight: 400;
}

.nav__title {
  font-size: 1.8rem;
  font-weight: 400;
}

.footer address {
  color: #999;
  font-size: 1.5rem;
  font-style: normal;
}

.footer ul {
  padding-left: 0;
  list-style: none;
}

.footer li {
  line-height: 2rem;
}

.footer a {
  font-size: 1.5rem;
  text-decoration: none;
}

.footer__nav {
  flex-flow: wrap;
  display: flex;
}

.footer__nav > * {
  flex: 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul {
  margin-top: 2rem;
}

.nav__ul li {
  margin-top: .5rem;
}

.legal {
  color: #999;
  flex-wrap: wrap;
  display: flex;
}

.legal__links {
  align-items: center;
  display: flex;
}

.heart {
  color: #2f2f2f;
}

@media screen and (width >= 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (width >= 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .footer__addr {
    flex: 1 1 0;
  }

  .footer__nav {
    flex: 2 1 0;
  }
}

.results {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 10rem;
  display: flex;
}

.results__heading {
  align-self: start;
}

.results .search {
  margin-top: 3rem;
}

.results-container {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  min-width: 100%;
  margin-top: 2.8rem;
  display: grid;
}

.results-container__card:hover img {
  transform: scale(1.2);
}

.results-container__card:hover .results-container__card-name {
  color: var(--color-red);
}

.results-container__card-img {
  border-radius: 16px;
  overflow: hidden;
}

.results-container__card-img img {
  border-radius: 16px;
  width: 100%;
  height: 20rem;
  transition: all 1.2s;
}

.results-container__card-name {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  transition: all .6s;
}

.recipe {
  min-height: 100vh;
  position: relative;
}

.recipe__title {
  margin-top: 5rem;
}

.recipe__overview {
  border-bottom: 1px solid var(--color-black);
  justify-content: start;
  align-items: center;
  gap: 5rem;
  margin-top: 2.8rem;
  padding-bottom: 3rem;
  display: flex;
}

.recipe__detail {
  color: var(--color-blue-dark);
  align-items: center;
  font-size: 1.6rem;
  display: flex;
}

.recipe__detail-data {
  margin-left: 1.2rem;
  margin-right: .3rem;
  font-weight: 600;
}

.recipe__detail-icon {
  width: 3rem;
  height: 3rem;
}

.recipe__detail-buttons {
  align-items: center;
  margin-left: 1.2rem;
  display: flex;
}

.recipe__detail-btn {
  color: var(--color-blue-dark);
  cursor: pointer;
  background-color: #0000;
  border: none;
  transition: all .2s;
}

.recipe__detail-btn:hover {
  color: var(--color-red);
  transform: translateY(-.2rem);
}

.recipe__detail-btn:active {
  transform: scale(.8);
}

.recipe__bookmark-icon {
  background: #457b9d;
  background: radial-gradient(circle, var(--color-blue-light) 4%, var(--color-blue) 93%);
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  margin-left: auto;
  transition: all .2s;
  display: flex;
  box-shadow: 3px 4px 20px -7px #0006;
}

.recipe__bookmark-icon:hover {
  transform: scale(1.05);
}

.recipe__image {
  margin-top: 3rem;
}

.recipe__image img {
  object-fit: cover;
  border-radius: 16px;
  width: 100%;
  height: 40rem;
}

.ingredients {
  margin-bottom: 8rem;
}

.ingredients__heading {
  margin-top: 3.8rem;
}

.ingredients__list {
  grid-template-columns: repeat(2, 1fr);
  align-self: stretch;
  gap: 3.8rem;
  margin-top: 6rem;
  list-style-type: none;
  display: grid;
}

.ingredients__item {
  align-items: center;
  gap: 1.8rem;
  font-size: 1.4rem;
  display: flex;
}

.ingredients__item:before {
  content: url("circle-svgrepo-com.1e100138.svg");
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.ingredients__item--checked {
  color: var(--color-grey);
  text-decoration: line-through;
}

.ingredients__item--checked:before {
  content: url("circle-tick-svgrepo-com.976e5410.svg");
  color: var(--color-red);
}

.instructions__text {
  color: var(--color-blue-dark);
  margin-top: 2rem;
  font-size: 1.8rem;
}

.instructions__pub {
  background: #457b9d;
  background: radial-gradient(circle, var(--color-blue-light) 4%, var(--color-blue) 93%);
  border-radius: 16px;
  padding: .2rem .8rem;
  display: inline-block;
}

.search {
  background-color: var(--color-blue-light);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 1rem 3.5rem;
  transition: all .4s;
  position: absolute;
  top: 0;
  left: 0;
}

.search--results-page {
  visibility: visible;
  opacity: 1;
  background-color: #0000;
  padding: 0;
  position: relative;
}

.search-form {
  border-bottom: 1px solid #000;
  align-items: center;
  width: 100%;
  padding: 1.2rem 0;
  display: flex;
}

.search-form__close-icon {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.search-form__input {
  color: #3f3939;
  background-color: #0000;
  border: none;
  outline: none;
  flex: 1;
  font-size: 1.8rem;
  font-weight: lighter;
}

.search-form__submit {
  display: none;
}

.search--visible {
  opacity: 1;
  visibility: visible;
  transition: all .4s;
}

.bookmarks__content {
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-blue-light);
  z-index: 1;
  min-width: 25rem;
  padding: 1.2rem 0;
  font-size: 1.8rem;
  transition: all .5s;
  position: absolute;
  right: 0;
  box-shadow: 0 8px 16px #0003;
}

.bookmarks:hover .bookmarks__content {
  visibility: visible;
  opacity: 1;
}

.bookmarks__error {
  border-radius: 16px;
  align-items: center;
  gap: 1.8rem;
  margin: 0 1.8rem;
  padding: 1.8rem 1rem;
  display: flex;
}

.bookmarks__error svg {
  color: #ff7800;
  width: 3rem;
  height: 3rem;
}

.bookmarks__error-text {
  width: 30rem;
}

.bookmarks__item {
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  display: flex;
}

.bookmarks__item:hover {
  background-color: var(--color-blue);
}

.bookmarks__img {
  clip-path: circle(30%);
  shape-outside: circle();
  border-radius: 50%;
  width: 7rem;
  overflow: hidden;
}

.bookmarks__img img {
  width: 8rem;
  height: 8rem;
}

.bookmarks__text {
  width: 18rem;
  padding-right: .8rem;
}

.bookmarks__title {
  color: #05181d;
  font-size: 1.6rem;
  font-weight: bold;
}

.bookmarks__pub {
  font-size: 1.4rem;
}

.bookmarks__delete-icon {
  color: #e63946;
  width: 2rem;
  height: 2rem;
  margin-left: 3rem;
  transition: transform .3s;
}

.bookmarks__delete-icon:hover {
  transform: scale(1.3);
}

.bookmarks__delete-icon:active {
  transform: scale(1.2);
}

.pagination {
  margin-top: auto;
  margin-bottom: 3rem;
}

.pagination a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: var(--color-blue);
  color: var(--color-black);
}

.pagination a:hover:not(.active) {
  background-color: var(--color-red-light);
}

.loader {
  transform-origin: 170px 0;
  z-index: 10;
  perspective: 300px;
  background-color: #3e494d;
  border-radius: 0 0 15px 15px;
  width: 100px;
  height: 14px;
  animation: .5s linear infinite alternate panex;
  position: fixed;
  top: 50%;
  left: 45%;
  box-shadow: inset 0 -1px 4px #5d6063;
}

.loader:before {
  content: "";
  z-index: -2;
  background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, #0000 0), linear-gradient(#9f9e9e 24px, #0000 0);
  background-position: 100%, 17px, 0;
  background-repeat: no-repeat;
  background-size: 50px 10px, 4px 8px, 24px 4px;
  border-radius: 0 4px 4px 0;
  width: 70px;
  height: 10px;
  position: absolute;
  top: 0;
  left: calc(100% - 2px);
}

.loader:after {
  content: "";
  z-index: -2;
  background-color: #fff;
  background-image: radial-gradient(3px, #fff6 90%, #0000 10%), radial-gradient(12px, #ffc400 90%, #0000 10%), radial-gradient(12px, #ffae00 100%, #0000 0);
  background-position: -4px -6px, -2px -2px, -1px -1px;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
  width: 55px;
  height: 53px;
  animation: 1s ease-out infinite eggRst;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20px)rotate3d(75, -2, 3, 78deg);
  box-shadow: inset -2px -3px #0002, inset 0 0 4px #0003;
}

@keyframes eggRst {
  0%, 100% {
    opacity: 0;
    transform: translate(-50%, -20px)rotate3d(90, 0, 0, 90deg);
  }

  10%, 90% {
    opacity: 1;
    transform: translate(-50%, -30px)rotate3d(90, 0, 0, 90deg);
  }

  25% {
    transform: translate(-50%, -40px)rotate3d(85, 17, 2, 70deg);
  }

  75% {
    transform: translate(-50%, -40px)rotate3d(75, -3, 2, 70deg);
  }

  50% {
    transform: translate(-55%, -50px)rotate3d(75, -8, 3, 50deg);
  }
}

@keyframes panex {
  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.placeholder {
  background-color: #fff;
  background-image: linear-gradient(.25turn, #0000, #fff, #0000), linear-gradient(#ddd, #ddd), radial-gradient(38px at 19px 19px, #ddd 50%, #0000 51%), linear-gradient(#ddd, #ddd);
  background-position: -315px 0, 0 0, 15px 140px, 65px 145px;
  background-repeat: no-repeat;
  background-size: 300px 200px, 315px 130px, 100px 100px, 170px 30px;
  background-attachment: scroll, scroll, scroll, scroll;
  background-origin: padding-box, padding-box, padding-box, padding-box;
  background-clip: border-box, border-box, border-box, border-box;
  width: 100%;
  height: 200px;
  animation: 1.5s infinite loading;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 15px 140px, 65px 145px;
  }
}

.modal {
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 10;
  background-color: #0006;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: all .8s;
  display: flex;
  position: fixed;
}

.modal__content {
  background-color: var(--color-blue-light);
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  display: flex;
  position: relative;
}

.upload-form {
  grid-template-columns: 1fr 1fr;
  gap: 4rem 6rem;
  padding: 3rem 4rem;
  display: grid;
}

.upload-form__column {
  grid-template-columns: 1fr 3fr;
  gap: 1.5rem;
  display: grid;
}

.upload-form__heading {
  grid-column: 1 / -1;
  margin-bottom: 1.8rem;
  font-size: 2rem;
}

.upload-form input {
  border: 1px solid var(--color-blue);
  border-radius: .5rem;
  padding: .8rem 1rem;
  font-size: 1.5rem;
}

.upload-form label {
  font-size: 1.5rem;
}

.upload-error {
  border-radius: 16px;
  align-items: center;
  gap: 1.8rem;
  margin: 0 1.8rem;
  padding: 1.8rem 1rem;
  display: flex;
}

.upload-error svg {
  color: #ff7800;
  width: 3rem;
  height: 3rem;
}

.upload-error__text {
  width: 30rem;
  font-size: 1.8rem;
}

.upload-success {
  border-radius: 16px;
  align-items: center;
  gap: 1.8rem;
  margin: 0 1.8rem;
  padding: 1.8rem 1rem;
  display: flex;
}

.upload-success svg {
  color: #4bb543;
  width: 3rem;
  height: 3rem;
}

.upload-success__text {
  width: 30rem;
  font-size: 1.8rem;
}

.modal-visible {
  opacity: 1;
  visibility: visible;
}

.btn {
  background-color: none;
  cursor: pointer;
  background: #457b9d;
  background: radial-gradient(circle, var(--color-blue-light) 4%, var(--color-blue) 93%);
  border: none;
  border-radius: 16px;
  gap: .25rem;
  width: 15rem;
  padding: 1rem 2rem;
  display: flex;
}

.btn__icon {
  width: 2rem;
  height: 2rem;
}

.upload-form__btn {
  grid-column: 1 / -1;
  justify-self: center;
  align-items: center;
  transition: all .2s;
}

.upload-form__btn:hover {
  transform: scale(1.2);
}

.modal__close-btn {
  background-color: var(--color-blue-light);
  cursor: pointer;
  border-radius: 50%;
  align-self: end;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -4rem;
  right: -4rem;
}

.margin-right-med {
  margin-right: 1rem;
}

.margin-right-lrg {
  margin-right: 3rem;
}

.margin-top-lrg {
  margin-top: 4rem;
}

:root {
  --color-blue-dark: #457b9d;
  --color-blue: #a8dadc;
  --color-blue-light: #f1f9f9;
  --color-red-dark: #e63946;
  --color-red: #ec6670;
  --color-red-light: #f5b2b7;
  --bg-color-pink: #f9d0d3;
  --color-grey: #adb5bd;
  --color-black: #040a0a;
  --color-ratings: #ff642f;
}

.heading {
  font-family: IBM Plex Serif, serif;
}

.heading-main-lrg {
  font-size: 6rem;
}

.heading-main {
  font-size: 4.8rem;
}

.heading-sub {
  letter-spacing: 1px;
  font-size: 2.8rem;
  font-weight: 200;
}

/*# sourceMappingURL=index.47ca9330.css.map */
