:root {
  --color-blue-dark: #457b9d;
  --color-blue: #a8dadc;
  --color-blue-light: #f1f9f9;
  --color-red-dark: #e63946;
  --color-red: #ec6670;
  --color-red-light: #f5b2b7;
  --bg-color-pink: #f9d0d3;
  --color-grey: #adb5bd;
  --color-black: #040a0a;
  --color-ratings: #ff642f;
}
